body {
    background: #0f1114;
    font-family: 'Crimson Pro', serif;
}

/* h1 {
    font-family: 'Proxima Nova', sans-serif;
} */

/* .hero div {
    background-image: url("/assets/imgs/hero.jpg");
    background-color: #0f1114;
    
} */

.contentMobile {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentDesktop {
    margin-top: 80px;
    margin-bottom: 80px;
}
