body {
    background: #0f1114;
    font-family: 'Crimson Pro', serif;
}

/* h1 {
    font-family: 'Proxima Nova', sans-serif;
} */

/* .hero div {
    background-image: url("/assets/imgs/hero.jpg");
    background-color: #0f1114;
    
} */

.contentMobile {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentDesktop {
    margin-top: 80px;
    margin-bottom: 80px;
}

.blurb h2 {
    color: #0f1114;
    font-family: proxima-nova, san serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    letter-spacing: .1rem;
    line-height: 2.8rem ;
    
 }

.blurb p {
    color: #0f1114;
    font-weight: 200;
    font-size: 1.45rem;
    line-height: 1.4;
}

#overlap .surf {
    background: #9cceb6;
    width: 530px;
    position: relative;
    float: left;
    margin-left: 60px;
}