body {
    background: #0f1114;
    font-family: 'Crimson Pro', serif;
}

/* h1 {
    font-family: 'Proxima Nova', sans-serif;
} */

/* .hero div {
    background-image: url("/assets/imgs/hero.jpg");
    background-color: #0f1114;
    
} */

.contentMobile {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentDesktop {
    margin-top: 120px;
    margin-bottom: 120px;
}

.blurb h2 {
    color: #0f1114;
    font-family: proxima-nova, san serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    letter-spacing: .1rem;
    line-height: 2.8rem ;
    
 }

 .heading h1 {
    color: #fdfdff;
    font-family: proxima-nova, san serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.7rem;
    letter-spacing: .3rem;
    line-height: 2.8rem ;
 }

 .features{
    color: #9cceb6;
    font-family: proxima-nova, san serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    line-height: 1.8rem ;
 }

.img-fluid.features {
    width: 150%;
}

.blurb p {
    color: #0f1114;
    font-weight: 200;
    font-size: 1.45rem;
    line-height: 1.4;
}

#overlap .surf {
    background: #9cceb6;
    width: 530px;
    position: relative;
    float: left;
    margin-left: 30px;
}

#overlap .hotel {
    background: #f2a230;
    width: 480px;
    position: relative;
    float: left;
    margin-left: 50px;
    opacity: 98%;
}



.img-fluid.hotel {
    position: relative;
    float: left;
    margin-right: 0px;

}

.aItems{
    color: #fdfdff;
    font-family: proxima-nova, san serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.05rem;
    letter-spacing: .1rem;
    line-height: 4rem ;
    margin-top: 350px;
}

.item {
    padding-left: 37px;
}

/* .table div{
    margin-top: 300px;
} */

.iconCell {
   padding: none;
   width: 35px;
   height: 35px;
}

.icons {
    width: 100%;
}